* {
    bg:           #141415;
    fg:           #839495;
    black:        #232324;
    blue:         #6099c0;
    white:        #d2d2d2;
    red:          #de6e7c;
    magenta:      #b279a7;
    yellow:       #b77e64;
    green:        #819b69;
    cyan:         #66a5ad;
    border:       #303030;

    font: "LigaSFMonoNerdFont 12";
}
